.file-order-dialog {
}

.file-order-item {
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: var(--radius-s);
    font-size: var(--nav-item-size);
    font-weight: var(--nav-item-weight);
    line-height: var(--line-height-tight);
    padding: var(--nav-item-padding);
    white-space: pre;
}

.file-order-item:hover, .file-order-dragging .file-order-item {
    background-color: var(--nav-item-background-hover);
    color: var(--nav-item-color-hover);
    font-weight: var(--nav-item-weight-hover);
}

.file-order-item-name {
    flex-grow: 1;
}

.file-order-item-name {
    padding: 0 6px;
}

.file-order-dialog {
    min-height: 400px;
}

.file-order-dialog-row {
    display: flex;
    margin-bottom: 6px;
}
.file-order-dialog-row > * {
    margin-right: 6px;
}
.file-order-dialog-row > :last-child {
    margin-right: 0;
}
.file-order-dialog-row-grow {
    flex-grow: 1;
}

.file-order-dialog-h2 {
    margin-bottom: 0;
}
.file-order-dialog-items-config {
    font-size: var(--font-smaller);
    line-height: var(--line-height-tight);
    margin-bottom: 16px;
}
