.file-order-dialog {
}

.file-order-item {
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: var(--radius-s);
    font-size: var(--nav-item-size);
    font-weight: var(--nav-item-weight);
    line-height: var(--line-height-tight);
    padding: var(--nav-item-padding);
    white-space: pre;
}

.file-order-item:hover, .file-order-dragging .file-order-item {
    background-color: var(--nav-item-background-hover);
    color: var(--nav-item-color-hover);
    font-weight: var(--nav-item-weight-hover);
}

.file-order-item-name {
    flex-grow: 1;
}

.file-order-item-name {
    padding: 0 6px;
}

.file-order-dialog {
    min-height: 400px;
}

.file-order-dialog-row {
    display: flex;
    margin-bottom: 6px;
}
.file-order-dialog-row > * {
    margin-right: 6px;
}
.file-order-dialog-row > :last-child {
    margin-right: 0;
}
.file-order-dialog-row-grow {
    flex-grow: 1;
}

.file-order-dialog-h2-container {
    display: flex;
    align-items: baseline;
}
.file-order-dialog-h2-container > button {
    margin-left: 8px;
}
.file-order-dialog-h2 {
    margin-bottom: 0;
    flex-grow: 1;
}
.file-order-dialog-items-config {
    font-size: var(--font-smaller);
    line-height: var(--line-height-tight);
    margin: 8px 0;
}

.file-order-field {
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
}

.file-order-field > :first-child {
    display: flex;
    align-items: center;
    padding: var(--nav-item-padding);
    background-color: var(--background-secondary);
    border: 1px solid var(--divider-color);
    border-top-left-radius: var(--radius-s);
    border-bottom-left-radius: var(--radius-s);
    height: var(--input-height);
    cursor: pointer;
}
.file-order-field > :nth-child(2) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

